*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: arial, sans-serif;
    background: #30a9f4;
    line-height:1.6;
}
.logo{
    height:80px;
    width:auto;
    margin-left:20px;
}
.header{
    text-align:center;
    position:fixed;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    }
/* .nav{
    margin-top:10px;
    margin-right:100px;
}
nav a{
    color:#a1e8f5;
    text-decoration:none;
    font-weight:bold;
} */
.search-bar{
    margin :15px auto;
    text-align:center;
}
.search-bar input{
    padding:10px;
    width:60%;
    border:1px solid #ccc;
    border-radius:5px;
}
.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-size:cover;
    background-position:center;
    padding:20px;
    gap:10px;
}
.hero h2{
    font-size:50px;
    margin-bottom:10px;
    text-shadow:2px 2px 4px #000;
    color:color-mix(in srgb, #d6caec 30%, #ffffff 70%);
    
}

.hero p{
    color:rgb(242, 255, 0);
}
.hero button{
    background:#e8491d;
    color:#fff;
    border:none;
    cursor:pointer;
    padding:10px 20px;
    font-size:18px;
    border-radius:5px;
}
.hero button:hover{
    background:#cf3c14;
}
.section{
    padding:40px 20px;
}
.section h2{
    margin-bottom:15px;
    color:#35424a;
    font-size:50px;
}
.card-contain{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}
.card{
    flex:200px;
    background:#fff;
    border:1px solid #ccc;
    border-radius:5px;
    text-align:center;
    object-fit:cover;
}
.card:hover{
    transform:scale(1.05);
}
.card img{
    width:100%;
    height:120px;
    border-bottom:1px solid #ccc;
    object-fit:cover;
    border-radius:5px;
}
.offer-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    gap:20px;
}
.offer{
    display:grid;
    background:#fff;
    border:1px solid #ccc;
    border-radius:30px;
    text-align:center;
    padding:-1px 20px;
}
.offer:hover{
    transform:scale(1.05);
}
.offer img{
    width:100%;
    height:300px;
    object-fit:fill;
    border-radius:5px;
}
.footer{
    background:#35424a;
    color:white;
    text-decoration:none;
}
.header{
    background-color:#35424a;
    color:#ffffff;
    padding:10px;
    display:flex;
    align-items:center;
    gap:20px;
}
.brand{
    height:150px;
    width:auto;
    font-size:50px;
    font-weight:bold;
    background:linear-gradient(90deg, #09042e, #6c6a6a);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.footer p{
    text-align:center;
    padding:10px;
    line-height:10px;
}
